<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Teams</title>
    <style>
         table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align:center;
            height:25px;
           }
            table{
            width:30%;
            }
    </style>
</head>
<body>
<button onclick="window.location.href='/index'">Vissza</button>
<div>
    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Position </th>
            <th> Nationality </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(players)}">
            <td colspan="4"> No player available</td>
        </tr>
        <tr th:each="player : ${players}">
            <td><a th:href="@{/requestedPlayer/{playerId}(playerId=${player.id})}"><span th:text="${player.id}">ID</span></a></td>
            <td><span th:text="${player.name}">Name </span></td>
            <td><span th:text="${player.positions}">Position </span></td>
            <td><span th:text="${player.nationality.getNationality()}">Nationality </span></td>
            <td><a th:href="@{/playerToTeam/{playerId}(playerId=${player.id})}"><span th:value="${player.id}">Select player</span></a></td>
        </tr>
        </tbody>
    </table>
    <div id="selectErrorMessage" role="alert" th:text="${selectErrorMessage}" th:if="${selectErrorMessage}"></div>
</div><br><br>
    <form action="#" th:action="@{/team/create}" th:object="${teamDto}" method="post">
        <h3>Build Team</h3>
        <div id="selectPlayerDiv">
            <label for="name">Name of the Team:</label>
            <input type="text" placeholder="Name of the Team" id="nameOfTheTeam" th:field="*{name}" required>

            <br><label for="address">Address:</label>
            <input type="text" placeholder="Address" id="address" th:field="*{address}" required>

            <br><label for="nationality">Nationality:</label>
            <select th:field="*{nationality}">
                <option th:each="nationalityOpt : ${T(com.example.football.enums.Nationality).values()}"
                        th:value="${nationalityOpt}" th:text="${nationalityOpt.nationality}"></option>
            </select>

            <table>
                <thead>
                <tr>
                    <th> Player's Name </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(selectedPlayerList)}">
                    <td colspan="2"> No player selected yet</td>
                </tr>
                <tr th:each="player : ${selectedPlayerList}">
                    <td><span th:text="${player.name}">Name </span></td>
                    <td><a th:href="@{/delete/{playerId}(playerId=${player.id})}" >Delete </a></td>
                </tr>
                </tbody>
            </table>
                <input type="submit" id="createTeam" value="Create Team">
                <div id="teamCreated" role="alert" th:text="${teamCreated}" th:if="${teamCreated}"></div>
        </div>
    </form>
</body>
</html>