<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add player/teams</title>
    <style>
         table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align:center;
            height:25px;
           }
            table{
            width:30%;
            }

    </style>
</head>
<body>
<button onclick="window.location.href='/index'">Vissza</button>
<div th:replace="add-player :: form "> </div>
<br><br>
<div id="playerField">
    <table id="playerTable">
        <thead>
        <tr>
            <th> ID </th>
            <th> Nationality </th>
            <th> Name </th>
            <th> Position </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(players)}">
            <td colspan="2"> No player available</td>
        </tr>
        <tr th:each="player : ${players}">
            <td><a th:href="@{/requestedPlayer/{playerId}(playerId=${player.id})}"><span th:text="${player.id}">ID</span></a></td>
            <td><span th:text="${player.nationality.getNationality()}">Nationality </span></td>
            <td><span th:text="${player.name}">Name </span></td>
            <td><span th:text="${player.positions}">Position </span></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>